<%- include('./partials/_nav.ejs', {id : "apps"}); %>
<main>
  <article class="ui basic segment">

    <div class="ui two cards">
      <div class="ui card">
        <div class="image">
          <img src="images/ondesoft.jpg">
        </div>
        <div class="content">
          <a class="header">Frebie</a>
          <div class="meta">
            <span class="date">Special Offer</span>
          </div>
          <div class="description">
            Here comes the next bundle for march. This time it's macware who publish a bundle. The so called macware
            Business Bundle contains 6 apps at a price of only €29.99 instead of €199.94. So you can save around 84%.
          </div>
        </div>
      </div>

      <div class="ui card">
        <div class="image">
          <img src="images/ultimate.jpeg">
        </div>
        <div class="content">
          <a class="header">Ultimate Bundle</a>
          <div class="meta">
            <span class="date">Special Offer</span>
          </div>
          <div class="description">
            With the new €5 Insanity Deals from Bundlehunt you receive every day a highly reduced app for €5 only with
            savings up to 75%. Not a real bundle but, as there are multiple apps for only €5 each, one new per day, for
            the days to come.
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
