<nav>
  <ul class="ui three item tabular menu">
    <li id="home" class="ui item"><a href="index.html">Home</a></li>
    <li id="apps" class="ui item"><a href="apps.html">Apps</a></li>
    <li id="directions" class="ui item"><a href="directions.html">Directions</a></li>
  </ul>
</nav>

<script>
  document.querySelector("#<%= id %>").classList.add("active")
</script>
