<nav id="navigation">
  <ul id="menu">
    <li id="home"><a href="index.html">Home</a></li>
    <li id="apps"><a href="apps.html">Apps</a></li>
    <li id="directions"><a href="directions.html">Directions</a></li>
  </ul>
</nav>

<script>
  document.querySelector("#<%= id %>").classList.add("active")
</script>
