<aside>


    <div class="ui card">
      <div class="image">
        <img src="images/business.png">
      </div>
      <div class="content">
        <a class="header">Business Bundle</a>
        <div class="meta">
          <span class="date">Weekly Deals</span>
        </div>
        <div class="description">
          This is our most exciting business combination - for just  €29.99!
        </div>
      </div>
    </div>


    <div class="ui card">
      <div class="image">
        <img src="images/insanity.jpg">
      </div>
      <div class="content">
        <a class="header">Insanity</a>
        <div class="meta">
          <span class="date">Special Offer</span>
        </div>
        <div class="description">
          Our premimum creating suite - f for €199.94. So you can save around 84%.
        </div>
      </div>
    </div>

</aside>
